{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}

<div class="card mb-4 shadow-sm reservation">
    <h1>Reservation</h1>
    <h1 style="text-align: right;">Reservation</h1>
</div>

{% endblock %}
