{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}

<div class="card mb-4 shadow-sm reservation">
    <h1 style="text-align: center; color: #85ace6;">Reservation</h1>

    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Nom</label>
            <input type="text" name="firstname" class="form-control" placeholder="Votre nom">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Prénom</label>
            <input type="text" name="lastname" class="form-control" placeholder="Votre prénom">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Téléphone</label>
            <input type="tel" name="phone" class="form-control" placeholder="Votre numéro de téléphone">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Email</label>
            <input type="email" name="email" class="form-control" placeholder="Votre adresse email">
        </div>
        <div class="form-group">
            <label for="exampleFormControlSelect1">Choisissez votre reservation</label>
            <select name="reservation" class="form-control">
                <option>Sélectionner un élement</option>
                <option>Cours régulier</option>
                <option>Cours ponctuel</option>
                <option>Stage</option>
            </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Message</label>
            <textarea name="message" class="form-control" rows="3" placeholder="Votre message de reservation"></textarea>
        </div>
    </form>
</div>

{% endblock %}
