{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}

<div class="card mb-4 shadow-sm reservation">
    <h1>Reservation</h1>
    <h1 style="text-align: right;">Reservation</h1>
    <form method="POST" style="text-align: center;">
        <input type="text" name="firstname"><br><br>
        <input type="text" name="lastname"><br><br>
        <input type="tel" name="phone"><br><br>
        <input type="email" name="email"><br><br>
        <input type="submit" name="envoyer" value="envoyer">
    </form>
    {{tester}}
    {{test}}
</div>

{% endblock %}
