
body {
    background-color: #dce6f5;
}

.bnjr-block {
    height: 400px;
}

.img, .bnjr {
    display: inline-block;
    line-height: 300px;
    margin: 10px;
}

.accueil-desc {
    text-align: justify;
    padding: 10px;
}

.nextCourseTitle {
    text-align: left;
    margin: 10px;
}

.header {
    background-color:#32a13a;
    color: #fff;
}

.header-description {
    padding: 30px 10px;
    text-align: justify;
}


/* ======================================== */

/* Le système d'onglets */

ul.tabs, .tabs li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tabs li {
    float: left;
    display: block;
}

.tabs:after {
    display: table;
    content: ' ';
    clear: both;
}

.tabs a {
    display: inline-block;
    background-color: #f7f7f7;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 10px 15px; 
}

.tabs .active a {
    background-color: #fff;
}

.tabs-content {
    position: relative;
    z-index: 3;
    padding: 20px;
    background-color: #fcfdff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 20px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.fade {
    opacity: 0;
    transition: opacity 0.2s;
}

.fade.in{
    opacity: 1;
}

#onglet {
    margin: 100px 10%;
}

#onglet > ul a {
    text-decoration: none;
    color: #000;
}
          

/* ======================================== */

/* Les blocks des cours */

.div-cours {
    text-align: center;
}

.cour-block {
    display: inline-block;
    text-align: left;
    padding: 10px;
}

.detail {
    background-color: #b1eff0;
    color: #243cf0;
}

.figure1, .figcap1 {
    display: inline-block;
}

.figure2, .figcap2 {
    display: inline-block;
}

.span-nextCourse {
    font-size: small;
}

.figure3, .figcap3 {
    display: inline-block;
}

.figure4, .figcap4 {
    display: inline-block;
}

.div-fig-figcap {
    margin: 20px auto;
}

.div-detail-js {
    display: none;
}


/* ======================================== */

/* Les popups */


.overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    display: none;
}
.popup {
    margin: 7% auto;
    width: 70%;
    padding: 1em;
    background-color: rgb(228,228,228);
    border-radius: 5px;
    box-shadow: 15px 20px 0 rgba(0,0,0,0.5);
}
.btnClose{
    float: right;
    cursor: pointer;
}

.reservation {
    margin: 40px 20%;
    padding: 40px;
}


/* =========================================== */



.overlay {
    display: none;
}

.btnClose{
    float: right;
    cursor: pointer;
}
