{% extends 'base.html.twig' %}

{% block title %}Hello CoursesController!{% endblock %}

{% block body %}

<div id="onglet">
    <ul class="tabs">
        <li><a href="https://teachr.fr/" target="_blank">Teach'r</a></li>
        <li class="active"><a href="#accueil">Accueil</a></li>
        <li><a href="#cours">Mes cours</a></li>
        <li><a href="#profil">Mon profil</a></li>
    </ul>

    <div class="tabs-content">
        <div class="tab-content active" id="accueil">
            <h1>Accueil</h1>
        </div>

        <div class="tab-content" id="cours">
            <h1>Mes cours</h1>

            {% for course in courses %}
                <h3>{{ course.titleCourse }}</h3>
                <h3>{{ course.daysCourse }}</h3>
                <p>{{ course.description }}</p>
            {% endfor %}
        </div>

        <div class="tab-content" id="profil">
            <h1>Mon profil</h1>
        </div>
    </div>
</div>

{% endblock %}
