{% extends 'base.html.twig' %}

{% block title %}Timetable{% endblock %}

{% block body %}

<div id="onglet">
    <ul class="tabs">
        <li><a href="https://teachr.fr/" target="_blank">Teach'r</a></li>
        <li class="active"><a href="#accueil">Accueil</a></li>
        <li><a href="#cours">Mes cours</a></li>
        <li><a href="#profil">Mon profil</a></li>
    </ul>

    <div class="tabs-content">
        <div class="tab-content active" id="accueil">
            <h1>Accueil</h1>
        </div>

        <div class="tab-content" id="cours">
            <h1>Mes cours</h1>
            <div class="div-cours">
                {% for course in courses %}
                    <div class="col-md-5 cour-block">
                        <div class="card mb-4 shadow-sm">
                            <div class="card-body">
                                <h3>{{ course.titleCourse }}</h3>
                                <h3>{{ course.daysCourse }}</h3>
                                <p>{{ course.description }}</p>
                                <button type="button" class="btn btn-lg btn-block detail">Détails</button>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="tab-content" id="profil">
            <h1>Mon profil</h1>
        </div>
    </div>
</div>

{% endblock %}
